<div class="container">
  <div class="search">
    <div class="row">
      <form class="input-field col s6">
        <input id="search" type="text" class="validate">
        <label class="active" for="Search">Search</label>
      </form>
    </div>
  </div>
  <br>
  <div class="form">
  </div>
  <div class="ideas">
  </div>
</div>
